<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Визитная Карта, веб-программирование">
    <meta name="Визитная карточка Алмаса">
    <link rel="stylesheet" href="../styles/outlines.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/table.css">
    <script src="../scripts/script.js"></script>
    <title>Визитная Карта</title>
</head>
<body>
<header class="header">
    <div class="inside-header">
        <div class="logo">
            <a href="#">
                <img src="/assets/images/logo.png" alt="Логотип" class="logo_img">
            </a>
        </div>
        <nav class="menu">
            <ul class="d-flex align-items-center flex-row">
                <li class="menu__item">
                    <a class="menu__item-link" href="../index.html">Обо мне</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="achievements.html">Достижения</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="constructor.html">Конструктор</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="images.html">Картинки</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="quote.html">Цитата</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="table.html">Таблица</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="content">
    <section id="quote" class="entry-content">
        <h2 class="title">Цитата:</h2>
        <blockquote class="quote headline">
            <p>Не совершай классическую ошибку всех умников: не думай, что нет людей умнее тебя.</p>
            <cite>Карл Ван Лун</cite>
        </blockquote>
    </section>
</main>
<footer class="footer">
    <p class="headline"> &copy; Almas 2021 </p>
</footer>
</body>
</html>
