<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="Визитная Карта, веб-программирование">
    <meta name="Визитная карточка Алмаса">
    <link rel="stylesheet" href="../styles/outlines.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/table.css">
    <script src="../scripts/script.js"></script>
    <title>Визитная Карта</title>
</head>
<body>
<header class="header">
    <div class="inside-header">
        <div class="logo">
            <a href="#">
                <img src="/assets/images/logo.png" alt="Логотип" class="logo_img">
            </a>
        </div>
        <nav class="menu">
            <ul class="d-flex align-items-center flex-row">
                <li class="menu__item">
                    <a class="menu__item-link" href="../index.html">Обо мне</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="achievements.html">Достижения</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="ascii.html">ASCII</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="snippet.html">Сниппет Кода</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="quote.html">Цитата</a>
                </li>
                <li class="menu__item">
                    <a class="menu__item-link"  href="table.html">Таблица</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="content">
    <section class="entry-content" id="table">
        <h2 class="title">Таблица:</h2>
        <div class="table">
            <div class="line">
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
            </div>
            <div class="line">
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
            </div>
            <div class="line">
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
            </div>
            <div class="line">
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
            </div>
            <div class="line">
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
                <div class="cell">Content</div>
            </div>
        </div>
    </section>
    <section class="entry-content">
        <div class="gallery">
            <img class="gallery__item" src="../assets/images/cute_cat_1.jfif" alt="Cute cat 1">
            <img class="gallery__item" src="../assets/images/cute_cat_2.jfif" alt="Cute cat 2">
            <img class="gallery__item" src="../assets/images/cute_cat_3.jfif" alt="Cute cat 3">
        </div>
    </section>
</main>
<footer class="footer">
    <p class="headline"> &copy; Almas 2021 </p>
</footer>
</body>
</html>
