body {
    font-family: "Lucida Console", serif;
    margin: 0;
}

.menu {
    font-size: 18px;
}

.menu__item {
    display: inline;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    list-style: none;
}

.menu__item-link {
    color: #008cc2;
    text-decoration: none;
    line-height: 100px;
    display: block;
}

.menu__item-link-selected {
    text-decoration: underline;
}

.menu__item-link:hover {
    color: #941b80;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.header {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    border-bottom: 1px solid;
    z-index: 30;
}

.inside-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;
    height: 100px;
}

.content {
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    min-height: calc(100vh - 236px);
}

.logo {
    display: inline-block;
}

.title {
    font-weight: 600;
    font-family: "Lucida Console", serif;
    color: #016c9e;
}

.entry-content {
    margin-top: 2em;
    margin-bottom: 2em;
    scroll-margin-top: 150px;
}

.quote {
    font-family: 'Lobster', cursive;
    word-spacing: 10px;
    font-weight: bold;
    font-style: oblique;
}

.headline {
    margin: 0;
    padding: 10px;
}

.achievement__list {
    list-style-type: upper-roman;
    list-style-position: inside;
}

.footer {
    background-color: ghostwhite;
    text-align: center;
}

.cat-image {
    text-align: center;
}

.cat-image img {
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo_img {
    width: 180px;
    height: 80px;
}

.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gallery__item {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1000px) {
    .logo {
        display: none;
    }

    .inside-header {
        justify-content: space-around;
    }

    .gallery {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .gallery__item {
        width: 400px;
        height: 400px;
    }
}

.d-none {
    display: none;
}
